<% layout('layouts/boilerplate') -%>
     <div class="container">
         <div class="row">
             <div class="col-3"></div>
             <div class="col-6">
                <h1>Login</h1>
                <form action="/login" method="POST" >
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="username-label">Username</span>
                        </div>
                        <input type="text" name="username" id="username" class="form-control" aria-label="username" aria-describedby="username-label" autofocus required>
                        <label for="username" class="d-none">Username</label>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="password-label">Password</span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" aria-label="password" aria-describedby="password-label" >
                        <label for="password" class="d-none">Password</label>
                    </div>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <p class="mt-2">
                        <a href="/register">Don't have an account? Sign Up Here!</a>
                    </p>
                    <p class="mt-2">
                        <a href="/forgot-password">Forgot Password?</a>
                    </p>
                </form>
             </div>
             <div class="col-3"></div>
         </div>
     </div>
<%  %>