<% layout('layouts/boilerplate') -%>
     <div class="container">
         <div class="row">
             <div class="col-3"></div>
             <div class="col-6">
                <h1>Sign Up</h1>
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="username-label">Username</span>
                        </div>
                        <input type="text" name="username" id="username" class="form-control" aria-label="username" aria-describedby="username-label" placeholder="e.g. mrpotatohead" autofocus required>
                        <label for="username" class="d-none">Username</label>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="email-label">Email</span>
                        </div>
                        <input type="email" name="email" id="email" class="form-control" aria-label="email-label" aria-describedby="email-label" placeholder="e.g. mrpotatohead@email.com" required>
                        <label for="email" class="d-none">Email Address:</label>
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                        <span class="input-group-text" id="password-label">Password</span>
                        </div>
                        <input type="password" name="password" id="password" class="form-control" aria-label="password" aria-describedby="password-label" placeholder="8-20 Characters">
                        <label for="password" class="d-none">Password</label>
                    </div>
                    <label class="btn btn-secondary mb-3 w-100">
                        Choose a Profile Picture <input type="file" name="image" id="image" hidden>
                    </label>
                    <button type="submit" class="btn btn-secondary">Submit</button>
                    <p class="mt-2">
                        <a href="/login">Already have an account? Log in here!</a>
                    </p>
                </form>
             </div>
             <div class="col-3"></div>
         </div>
     </div>
<%  %>